table{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
      
    
}

table, td, th, tr {
    
    text-align: left;
    padding: 8px;
   
}

th{
    border: 1px solid black;
    border-top: none;
}

tr{
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
}

td{
    border: 1px solid black;
    border-bottom: none;
    border-top: none;   
    border-right: none;
}
  